<!-- <ion-header class="ion-background-white ion-no-border">
  <common-header-component
    *ngIf="screenSizeService.isDesktopResolution()"
  ></common-header-component>

  <profile-header-component
    *ngIf="!screenSizeService.isDesktopResolution()"
    [headerTitle]="'Informasi Pekerjaan'"
  ></profile-header-component>
</ion-header> -->

<!-- <ion-content class="ion-background-white-blur-50 relative"> -->
<section *ngIf="!(getValidation())">
  <div class="flex items-center justify-center my-28">
    <app-common-feature-not-available-component />
  </div>
</section>

<section *ngIf="getValidation()">
  <div
    class="flex md:hidden items-center text-center pt-6 px-4 border-b-2 border-neutral-200"
  >
    <div
      routerLink="/job/vacancy"
      routerLinkActive="border-lazuli-400 text-lazuli-500"
      class="cursor-pointer text-body1 font-semibold flex-1 -mb-0.5 py-3 border-b-2 text-800"
    >
      Lowongan Kerja
    </div>
    <div
      routerLink="/job/website"
      routerLinkActive="border-lazuli-400 text-lazuli-500"
      class="cursor-pointer text-body1 font-semibold flex-1 -mb-0.5 py-3 border-b-2 text-800"
    >
      Karir Website
    </div>
  </div>

  <div class="md:container md:px-auto z-10 relative md:pt-16">
    <div>
      <div class="hidden md:flex justify-between items-center mb-8">
        <div>
          <div class="text-h2 text-800 mb-1.5">Lowongan Pekerjaan</div>
          <div class="text-[24px] text-700">
            Temukan lowongan pekerjaan yang cocok untukmu.
          </div>
        </div>
      </div>

      <div
        class="md:grid md:grid-cols-4 gap-x-0 md:gap-x-7 gap-y-7 md:gap-y-0 flex flex-col"
      >
        <div class="hidden md:block">
          <div class="bg-white box-shadow rounded-4xl px-10 py-8">
            <app-common-button-component
              color="blank"
              class="ion-no-margin ion-no-padding"
            >
              <div class="flex items-center space-x-3">
                <app-common-icon-component
                  name="file-search"
                  nativeClass="text-neutral-800 w-9 h-9"
                >
                </app-common-icon-component>
                <span
                  routerLink="/job/vacancy"
                  routerLinkActive="text-lazuli-500"
                  class="text-h4 text-800 font-normal"
                  >Lowongan Kerja</span
                >
              </div>
            </app-common-button-component>

            <hr class="border-b border-neutral-200 my-6" />

            <app-common-button-component
              color="blank"
              class="ion-no-margin ion-no-padding"
            >
              <div class="flex items-center space-x-3">
                <app-common-icon-component
                  name="globe"
                  nativeClass="text-neutral-800 w-9 h-9"
                >
                </app-common-icon-component>
                <span
                  routerLink="/job/website"
                  routerLinkActive="text-lazuli-500"
                  class="text-h4 text-800 font-normal"
                  >Karir Website</span
                >
              </div>
            </app-common-button-component>
          </div>
        </div>
        <div class="md:col-span-3 w-full">
          <div class="bg-white rounded-4xl box-shadow p-8 px-0">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <wa-floating-button></wa-floating-button> -->
<!-- </ion-content> -->
