.ion-color-lazuli-500 {
  --ion-color-base: var(--ion-color-lazuli-500) !important;
  --ion-color-base-rgb: var(--ion-color-lazuli-500-rgb) !important;
  --ion-color-base-contrast: var(--ion-color-lazuli-500-contrast) !important;
  --ion-color-base-contrast-rgb: var(
    --ion-color-lazuli-500-contrast-rgb
  ) !important;
  --ion-color-base-shade: var(--ion-color-lazuli-500-shade) !important;
  --ion-color-base-tint: var(--ion-color-lazuli-500-tint) !important;
}

.ion-color-lazuli-50 {
  --ion-color-base: var(--ion-color-lazuli-50) !important;
  --ion-color-base-rgb: var(--ion-color-lazuli-50-rgb) !important;
  --ion-color-base-contrast: var(--ion-color-lazuli-50-contrast) !important;
  --ion-color-base-contrast-rgb: var(
    --ion-color-lazuli-50-contrast-rgb
  ) !important;
  --ion-color-base-shade: var(--ion-color-lazuli-50-shade) !important;
  --ion-color-base-tint: var(--ion-color-lazuli-50-tint) !important;
}
