<!-- <ion-content fullscreen class="ion-background-white"> -->
<div class="md:container mx-4 md:mx-auto md-max:mb-10">
  <ng-container>
    <div class="p-8 md-max:pt-0 md-max:px-4 md:px-11">
      <h2 class="font-bold text-[28px] text-neutral-800 hidden md:block">
        Cara Mengajukan e-Klaim
      </h2>
      <p class="text-neutral-700 text-[18px] mb-8 hidden md:block">
        Yuk, cek tata cara dan persyaratan dokumen pengajuan e-klaim DPA
      </p>
      <img src="images/e-klaim.jpg" alt="" class="mt-2 mb-16" />
      <div class="flex justify-center">
        <app-common-button-component
          color="primary"
          class="m-0 p-0 h-[42px] w-[343px] rounded-lg"
          routerLink="/e-klaim/ajukan"
        >
          <span>Ajukan Klaim Sekarang</span>
        </app-common-button-component>
      </div>
    </div>
  </ng-container>
</div>
<!-- </ion-content> -->
