<section>
  <ion-button
    color="blank"
    style="height: 70px"
    *ngIf="isPensiunan"
    class="rounded-4xl bg-neutral-100 ion-no-padding p-6 w-full text-h3 text-lazuli-300 font-bold"
    (click)="handleOpenPostinganModal(null)"
  >
    <div class="flex space-x-1 justify-center items-center">
      <app-common-icon-component
        nativeClass="w-8 h-8 text-lazuli-300"
        name="edit-6"
      />
      <span>Buat Postingan</span>
    </div>
  </ion-button>

  <div class="text-h3 text-900 mb-8">Ruang Untukmu</div>
  <section>
    <ng-container *ngIf="(loading$ | async) else dataTpl">
      <div class="hidden md:block">
        <div class="grid grid-cols-1 md:grid-cols-1 gap-x-10 gap-y-16 mb-8">
          <ng-container
            *ngFor="let item of [].constructor(9); let index = index"
          >
            <app-ruang-pensiun-list-web-card
              [loading]="true"
            ></app-ruang-pensiun-list-web-card>
          </ng-container>
        </div>
      </div>

      <div class="md:hidden">
        <div class="mb-5">
          <div class="grid grid-cols-1 gap-y-6">
            <ng-container
              *ngFor="let item of [].constructor(9); let index = index"
            >
              <app-ruang-pensiun-list-web-card
                [loading]="true"
              ></app-ruang-pensiun-list-web-card>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #dataTpl>
      <ng-container
        *ngIf="((pageService.pageType$ | async) === pageTypeEnum.PUBLIC || ((pageService.pageType$ | async) === pageTypeEnum.PERSONAL)) else featureNotAvailableTpl"
      >
        <ng-container *ngIf="(postingan$ | async)?.length else noDataTpl">
          <div class="hidden md:block">
            <ng-container
              *ngFor="let item of postingan$ | async; let last = last"
            >
              <div class="rounded-4xl container-box-shadow p-4 mb-4 bg-white">
                <div class="flex items-center mb-6">
                  <!-- Photo User -->
                  <div
                    *ngIf="!item.photoUser"
                    class="h-[52px] w-[52px] flex items-center justify-center bg-havertz-400 text-white rounded-4xl mr-2"
                  >
                    {{ decryptUser(item.namaUser)?.toUpperCase() | nickName }}
                  </div>

                  <div *ngIf="item.photoUser" class="h-[52px] w-[52px] mr-2">
                    <ng-container>
                      <img
                        class="h-[52px] w-[52px] flex items-center justify-center bg-havertz-400 text-white rounded-4xl"
                        [src]="decryptUser(item.photoUser)"
                        alt=""
                      />
                    </ng-container>
                  </div>
                  <!-- End Photo User -->

                  <span class="flex-1 text-h5 text-900"
                    >{{ decryptUser(item.namaUser) || 'Tidak ada nama
                    user'}}</span
                  >
                  <div class="float-right">
                    <div class="text-h5 text-600 mb-1">Ruang Pensiun</div>
                    <div
                      *ngIf="(pageService.pageType$ | async) === pageTypeEnum.PERSONAL"
                      class="text-h6 {{item.statusApproval | statusApprovalEnum:'textColor'}} text-right"
                    >
                      {{item.statusApproval | statusApprovalEnum:'text'}}
                    </div>
                  </div>
                </div>
                <div class="flex space-x-20">
                  <div class="flex-1">
                    <div class="mb-8">
                      <div class="text-h3 text-900 mb-3">
                        {{item?.judulThread || 'Tidak ada judul'}}
                      </div>
                      <div class="flex space-x-2">
                        <span class="text-h5 text-500">
                          {{item.createdOn | date:'dd MMMM YYYY'}}</span
                        >
                      </div>
                    </div>
                    <div class="flex item-center">
                      <div
                        class="cursor-pointer flex-1 flex space-x-2 items-center"
                      >
                        <app-common-icon-component
                          (click)="handleLikeContent(item)"
                          nativeClass="w-8 h-8 {{ item.isLike === 1 ? 'text-lazuli-500' : 'text-neutral-200'}}"
                          name="heart-filled"
                        />
                        <span class="text-h5 text-700"
                          >{{item.jumlahLike}} Suka</span
                        >
                      </div>

                      <app-common-button-component
                        color="blank"
                        class="float-right ion-no-padding p-0 m-0 text-h5 text-lazuli-500 font-bold"
                        (onClick)="handleNavigateToDetail(item)"
                      >
                        Lihat Detail
                      </app-common-button-component>
                    </div>
                  </div>
                  <div class="float-right">
                    <img
                      *ngIf="item?.gambar"
                      [src]="item?.gambar"
                      (click)="openImage(item?.gambar)"
                      class="w-[150px] h-[150px] rounded-4xl"
                      alt=""
                    />

                    <div
                      *ngIf="!item?.gambar"
                      class="mb-8 rounded-xl bg-neutral-600 h-[150px] rounded-xl w-full text-neutral-700 flex items-center justify-center text-h3"
                    >
                      No Thumbnail
                    </div>
                  </div>
                </div>
              </div>

              <hr *ngIf="!last" class="my-4 border-b border-neutral-200" />
            </ng-container>

            <ng-container *ngIf="pagination$ | async as pagination">
              <div
                class="flex justify-center"
                *ngIf="screenSizeService.isDesktopResolution()"
              >
                <app-common-pagination-component
                  [pagination]="pagination"
                  (onClick)="handlePageChange($event)"
                ></app-common-pagination-component>
              </div>
            </ng-container>
          </div>

          <!-- Mobile View -->
          <div class="md:hidden">
            <ng-container
              *ngFor="let item of postingan$ | async; let last = last"
            >
              <div class="p-4 bg-white">
                <div class="flex">
                  <ion-img
                    *ngIf="item?.gambar"
                    [src]="item?.gambar"
                    (click)="openImage(item?.gambar)"
                    class="h-24 w-24 rounded-3xl object-cover object-center overflow-hidden"
                    alt="item Image"
                  ></ion-img>

                  <div
                    *ngIf="!item?.gambar"
                    class="h-24 w-24 rounded-3xl bg-neutral-800 text-neutral-900 flex items-center justify-center text-body3"
                  >
                    No Thumbnail
                  </div>

                  <div class="flex-shrink-0 ml-3">
                    <div
                      class="text-body1 text-800 font-semibold mb-1 truncated-title"
                    >
                      {{item?.judulThread && item?.judulThread != 'null' ?
                      item?.judulThread:'Tidak ada judul'}}
                    </div>

                    <div class="text-body3 text-500 items-center space-x-2">
                      <div class="inline">
                        {{ decryptUser(item.namaUser) || 'Tidak ada nama user'}}
                      </div>
                      <!-- <div class="inline">
                      <ion-icon class="dot" name="ellipse"></ion-icon>
                    </div> -->
                      <div class="inline">
                        {{item.createdOn | date:'dd MMMM YYYY'}}
                      </div>
                    </div>

                    <div class="flex item-center mt-7">
                      <div
                        class="cursor-pointer flex-1 flex space-x-2 items-center"
                      >
                        <app-common-icon-component
                          (click)="handleLikeContent(item)"
                          nativeClass="w-5 h-5 {{ item.isLike === 1 ? 'text-lazuli-500' : 'text-neutral-200'}}"
                          name="heart-filled"
                        />
                        <span class="text-[12px] text-700"
                          >{{item.jumlahLike}} Suka</span
                        >
                      </div>

                      <app-common-button-component
                        color="blank"
                        class="float-right ion-no-padding p-0 m-0 text-[12px] text-lazuli-500 font-bold"
                        (onClick)="handleNavigateToDetail(item)"
                      >
                        Lihat Detail
                      </app-common-button-component>
                    </div>
                  </div>
                </div>
                <hr *ngIf="!last" class="my-2 border-b border-neutral-200" />
              </div>
            </ng-container>

            <!-- <ng-container *ngFor="let item of postingan$ | async; let last = last">
            <div (click)="handleNavigateToDetail(item)">
              <div class="flex items-center mb-2">
                <div
                  class="h-[42px] w-[42px] flex items-center justify-center bg-havertz-400 text-white rounded-4xl mr-2"
                >
                  {{ item.namaUser?.toUpperCase() | nickName }}
                </div>
                <span class="flex-1 text-h7 text-900"
                  >{{ item.namaUser || 'Tidak ada nama user'}}</span
                >
                <div class="float-right">
                  <div class="text-h6 text-[13px] text-600 mb-1">Ruang Pensiun</div>
                  <div
                    *ngIf="(pageService.pageType$ | async) === pageTypeEnum.PERSONAL"
                    class="text-h7 text-[13px] {{item.statusApproval | statusApprovalEnum:'textColor'}} text-right"
                  >
                    {{item.statusApproval | statusApprovalEnum:'text'}}
                  </div>
                </div>
              </div>
              <div class="mb-2 relative rounded-4xl overflow-hidden">
                <ion-img
                  *ngIf="item?.gambar"
                  [src]="item?.gambar"
                  class="h-[140px] w-full object-cover object-center overflow-hidden"
                  alt="News Image"
                ></ion-img>

                <div
                  *ngIf="!item?.gambar"
                  class="mb-8 rounded-xl bg-neutral-600 h-[140px] rounded-xl w-full text-neutral-700 flex items-center justify-center text-h3"
                >
                  No Thumbnail
                </div>
              </div>
              <div class="flex space-x-20">
                <div class="flex-1">
                  <div class="mb-8">
                    <div class="flex item-center mb-2">
                      <span class="flex-1 text-h6 text-[14px] text-500">
                        {{item.createdOn | date:'dd MMMM YYYY'}}</span
                      >
                      <div class="float-right">
                        <div class="flex-1 flex space-x-2 items-center">
                          <app-common-icon-component
                            (click)="handleLikeContent(item)"
                            nativeClass="w-8 h-8 {{ item.isLike === 1 ? 'text-lazuli-500' : 'text-neutral-200'}}"
                            name="heart-filled"
                          />
                          <span class="text-h6 text-700">{{item.jumlahLike}} Suka</span>
                        </div>
                      </div>
                    </div>

                    <div class="text-h5 text-900 mb-3">
                      {{item?.judulThread && item?.judulThread != 'null' ? item?.judulThread:'Tidak ada judul'}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr *ngIf="!last" class="my-2 border-b border-neutral-200" />
          </ng-container> -->
          </div>
        </ng-container>
      </ng-container>

      <ng-template #noDataTpl>
        <div class="md:hidden">
          <div class="mb-5 mt-10">
            <div class="text-center">
              <img
                src="images/news-not-found.png"
                class="mb-8 w-[180px] h-[152px] mx-auto"
                alt=""
              />
              <div class="text-h5 text-800 font-semibold mb-1.5">
                Hasil Pencarian Tidak Ditemukan
              </div>
              <div class="text-body2 text-700">
                Silakan coba lagi atau kembali lagi nanti.
              </div>
            </div>
          </div>
        </div>

        <div
          class="hidden md:flex justify-center items-center overflow-hidden container-box-shadow rounded-[24px] bg-white min-h-[494px]"
        >
          <div class="text-center">
            <img
              src="images/news-not-found.png"
              class="mb-8 w-[180px] h-[152px] mx-auto"
              alt=""
            />
            <div class="text-h3 text-800 font-semibold mb-1.5">
              Hasil Pencarian Tidak Ditemukan
            </div>
            <div class="text-h4 text-700 font-normal">
              Silakan coba lagi atau kembali lagi nanti.
            </div>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </section>
</section>

<ng-template #featureNotAvailableTpl>
  <div *ngIf="!isPensiunan" class="flex items-center justify-center my-28">
    <app-common-feature-not-available-component />
  </div>

  <div *ngIf="isPensiunan">
    <div class="md:hidden">
      <div class="mb-5 mt-10">
        <div class="text-center">
          <img
            src="images/error.png"
            class="mb-8 w-[180px] h-[152px] mx-auto"
            alt=""
          />
          <div class="text-h5 text-800 font-semibold mb-1.5">
            Data Belum Tersedia
          </div>
          <div class="text-body2 text-700">
            Maaf data pada halaman ini belum tersedia, silakan coba lagi nanti
            atau lain kali.
          </div>
        </div>
      </div>
    </div>

    <div
      class="hidden md:flex justify-center items-center overflow-hidden container-box-shadow rounded-[24px] bg-white min-h-[494px]"
    >
      <div class="text-center">
        <img
          src="images/error.png"
          class="mb-8 w-[180px] h-[152px] mx-auto"
          alt=""
        />
        <div class="text-h3 text-800 font-semibold mb-1.5">
          Data Belum Tersedia
        </div>
        <div class="text-h4 text-700 font-normal">
          Maaf data pada halaman ini belum tersedia, silakan coba lagi nanti
          atau lain kali.
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-common-alert-component
  *ngIf="errorLikeAc"
  [duration]="3000"
  type="danger"
  [desc]="errorLikeAc"
>
</app-common-alert-component>

<app-common-alert-component
  *ngIf="successLikeAc"
  [duration]="3000"
  type="success"
  [desc]="successLikeAc"
>
</app-common-alert-component>
