.card-saldo {
  background-image: url("/images/saldo-lg.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

ion-alert {
  --ion-background-color: #ffffff;
}

ion-button {
  --background: #005BAA;
}
