.segment-button-checked {
  color: #0074d9;
}

// ion-popover.popper-select-custom {
//   ::ng-deep {
//     ion-select-popover {
//     }
//   }
// }

:host {
  ion-textarea.custom-area {
    --background: transparent !important;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.2);
  }

  ::ng-deep {
    .custom-detail {
      ul li {
        list-style: disc;
        margin: 0;
        padding: 0;
        margin-left: 34px;
      }

      ol li {
        list-style: decimal;
        margin: 0;
        padding: 0;
        margin-left: 34px;
      }

      p {
        white-space: pre-line;
      }
    }
  }
}

.image-content {
  display: inline-flex;
  width: 328px;
  height: 96px;
  margin-right: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

[data-object-fit="contain"] {
  object-fit: contain;
}

.removeScroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  background-color: white;
  z-index: 100;
}
