<div class="bg-neutral-0 md:shadow-lg p-8 md-max:pt-5 md-max:px-4 rounded-4xl">
  <div class="flex space-x-20">
    <div class="flex-col">
      <h2 class="font-bold text-[32px] text-neutral-800">Detail Hasil Simulasi MP</h2>
      <img class="my-10 mx-auto" src="images/hasil-simulasi.png" alt="" srcset="">
    </div>
      <div class="px-4 flex-grow">
        <div class="flex justify-between items-center my-4">
          <span class="text-lg text-neutral-800">Pengembangan per Tahun</span>
          <span class="text-lg text-neutral-800">{{development}}%</span>
        </div>
        <div class="flex justify-between items-center mb-4">
          <span class="text-lg text-neutral-800">Kenaikan Gaji per Tahun</span>
          <span class="text-lg text-neutral-800">{{increment}}%</span>
        </div>
        <div class="flex justify-between items-center mb-4">
          <span class="text-lg text-neutral-800">Gaji Bulan Terakhir</span>
          <span class="text-lg text-neutral-800">Rp{{lastSalary | number}}</span>
        </div>
        <div class="bg-neutral-400 w-full h-[1px] mb-4 mt-1"></div>
        <div class="flex justify-between items-center">
          <span class="text-900 font-semibold text-2xl">Total Simulasi</span>
          <span class="text-lazuli-400 text-lg font-semibold">Rp{{total | number}}</span>
        </div>
      </div>
  </div>

  <div class="mt-5 px-8 py-4 bg-75 rounded-[20px]">
    <div class="font-bold text-lg text-neutral-900">Informasi Tambahan</div>
    <span class="text-sm text-neutral-700 mt-2 list-decimal">
      Hasil perhitungan tersebut hanya berupa perkiraan dari asumsi-asumsi yang telah ditetapkan dan bukan merupakan janji atau jaminan dari pihak Dana Pensiun Astra kepada peserta.
    </span>
  </div>
</div>
