<!-- <app-header-second
  class="md:hidden"
  title="e-Klaim"
  [showClose]="false"
></app-header-second>
<ion-header class="ion-no-border hidden">
  <ion-toolbar color="transculent"> </ion-toolbar>
</ion-header>
<ion-header class="ion-background-white ion-no-border hidden md:block">
  <common-header-component></common-header-component>
</ion-header>
<ion-content fullscreen class="ion-background-white"> -->
<div class="py-[60px] md:px-[120px] md:px-11 min-h-[436px] h-auto">
  <h2 class="font-bold text-[32px] text-neutral-800">Form Download E-Klaim</h2>
</div>
<!-- <div class="px-[120px] hidden md:block mt-28">
    <hr class="my-10 hidden md:block" />
    <common-footer-component></common-footer-component>
  </div>
  <wa-floating-button></wa-floating-button>
</ion-content> -->
