<div class="pilih-quiz mx-auto relative max-w-xs md:max-w-md">
  <img class="max-w-sm md:max-w-md" src="images/leave-bg.svg" alt="" srcset="" />
  <a class="absolute w-5 h-5 md:w-10 md:h-10 top-0 right-0 z-2 cursor-pointer" (click)="closeModal()"></a>
  <div class="absolute w-[60%] h-full flex flex-col space-y-4 items-center justify-center top-8">
    <span class="text-[14px] title">Meninggalkan Quiz</span>
    <p class="subtitle">Jika anda meninggalkan Quiz maka anda dianggap sudah menyelesaikan quiz</p>
    <ion-button
      (click)="leaveQuiz()"
      mode="ios"
      color="blank"
      class="text-neutral-0 h-11 rounded-xl mt-10 bg-lazuli-500 text-center items-center justify-center max-w-xs md:max-w-md"
    >
      <span class="text-[14px] limit-text">Oke</span>
    </ion-button>
  </div>
</div>
