<!-- <ion-header class="ion-background-white ion-no-border">
  <common-header-component
    *ngIf="screenSizeService.isDesktopResolution()"
  ></common-header-component>

  <profile-header-component
    *ngIf="!screenSizeService.isDesktopResolution()"
    [headerTitle]="'Promosi'"
    [rightBtn]="onShare"
    [rightIcon]="'share-filled'"
  ></profile-header-component>
</ion-header> -->

<!-- <ion-content class="ion-background-white-blur relative"> -->
<div class="md:container px-0 md:px-6 md:px-auto z-10 relative pt-0 md:pt-16">
  <div>
    <div class="hidden md:block mb-8">
      <app-common-breadcrumb-component
        [breadcrumbs]="breadcrumbs"
        activeClass="text-neutral-800"
        (onClick)="handleSelectBreadcrumb($event)"
      >
      </app-common-breadcrumb-component>
    </div>

    <div>
      <app-promotion-detail-container
        [handleOpenShareMediaModal]="handleOpenShareMediaModal"
      ></app-promotion-detail-container>
    </div>

    <!-- <div class="grid grid-cols-1 md:grid-cols-3 md:gap-x-8">
        <div class="col-span-2">
          <div class="bg-white md:shadow-xl md:rounded-2xl md:p-8">
            <div class="relative">
              <ion-button
                (click)="handleSlide('next')"
                color="none"
                class="hidden md:block ion-no-ripple ion-no-box-shadow ion-no-padding p-0 rounded-full absolute top-[40%] -right-7 z-20"
              >
                <img
                  src="logos/chevron-right-circle.png"
                  class="w-10 h-10"
                  alt=""
                />
              </ion-button>
              <ion-button
                (click)="handleSlide('prev')"
                color="none"
                class="hidden md:block ion-no-ripple ion-no-box-shadow ion-no-padding p-0 rounded-full absolute top-[40%] -left-7 z-20"
              >
                <img
                  src="logos/chevron-left-circle.png"
                  class="w-10 h-10"
                  alt=""
                />
              </ion-button>

              <swiper
                #promoSlides
                [loop]="true"
                [slidesPerView]="1"
                [spaceBetween]="10"
              >
                <ng-container *ngFor="let i of [].constructor(5);">
                  <ng-template swiperSlide>
                    <ng-container *ngIf="promotion$ | async as promotion">
                      <ng-container *ngIf="promotion.banner">
                        <img
                          [src]="getBanner(promotion.banner)"
                          class="mb-8 rounded-xl w-full object-cover object-center rounded-xl"
                          alt=""
                        />
                      </ng-container>

                      <ng-container *ngIf="!promotion.banner">
                        <div
                          class="mb-8 rounded-xl bg-neutral-600 h-[350px] rounded-xl w-full text-neutral-700 flex items-center justify-center text-h3"
                        >
                          No Thumbnail
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-template>
                </ng-container>
              </swiper>
            </div>

            <ion-button
              (click)="handleOpenPromoBiodataFormModal()"
              color="secondary"
              mode="ios"
              class="text-h7 w-full font-semibold mb-6 md:hidden"
            >
              Dapatkan Promo ini
            </ion-button>

            <ng-container *ngIf="promotion$ | async as promotion">
              <div class="text-[24px] text-600 mb-3">
                {{promotion.namaKategori}}
              </div>
              <div class="text-[32px] text-800 mb-3">{{promotion.judul}}</div>
              <div class="mb-10">
                <div class="text-[24px] text-800">Deskripsi</div>
                <div
                  class="text-[18px] text-800"
                  [innerHTML]="promotion.spesifikasiPromo"
                ></div>
                <div>
                  <ion-button
                    class="font-bold text-[18px]"
                    mode="ios"
                    fill="clear"
                    size="small"
                  >
                    Klik disini untuk informasi lebih lanjut
                  </ion-button>
                </div>
              </div>
              <div class="mb-10">
                <div class="text-[24px] text-800">Deskripsi</div>
                <div
                  class="text-[18px] text-800"
                  [innerHTML]="promotion.detailPromo"
                ></div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="hidden md:block">
          <div class="bg-white shadow-xl rounded-2xl p-8 mb-4">
            <ion-button
              (click)="handleOpenPromoBiodataFormModal()"
              color="secondary"
              mode="ios"
              class="w-full font-semibold"
            >
              Dapatkan Promo ini
            </ion-button>
          </div>

          <div class="bg-white shadow-xl rounded-2xl py-5 px-8">
            <div class="text-h7 flex justify-between items-center">
              <div class="text-h7 font-semibold text-800 mr-2">Bagikan</div>
              <ng-container *ngFor="let shareButton of shareButtons">
                <ng-container *ngIf="shareButton">
                  <app-common-button-component
                    color="white"
                    class="m-0 p-0 ion-no-padding h-8 w-8 rounded-full bg-white box-shadow-shared-button"
                    (onClick)="handleOpenShare(shareButton)"
                  >
                    <img
                      [src]="shareButton.imageSrc"
                      class="w-full h-full p-1 m-auto"
                      alt="shareButton.type"
                    />
                  </app-common-button-component>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>  -->
  </div>
  <!-- 
  <hr class="my-10 hidden md:block" />
  <common-footer-component
    *ngIf="screenSizeService.isDesktopResolution()"
  ></common-footer-component> -->
</div>
<!-- </ion-content> -->
